.tag {
  display: inline-block;
  border: solid 1px #bfb050;
  color: #bfb050;
  border-radius: 5px;
  padding: 3px 10px;
  cursor: pointer;
  filter: brightness(50%);
  transition: all 0.25s;
  margin: 0 10px 20px; }

.tag-active {
  filter: none; }

.tags {
  margin-bottom: 30px;
  color: #bfb050;
  font-family: "Friz Quadrata Medium"; }
  .tags input[type="text"] {
    color: black; }

.champion-icon, .champion-icon-round, .champion-icon-right {
  width: 100%;
  filter: contrast(120%) grayscale(0%);
  margin: 0; }

.champion-icon-round {
  border: solid #eee 5px;
  box-shadow: 0 0 5px #bfb050;
  border-radius: 50%;
  width: 120px; }

.champion-icon-right {
  position: absolute;
  top: 0;
  right: 10%; }

.champion-cell:hover .champion-icon, .champion-cell:hover .champion-icon-round, .champion-cell:hover .champion-icon-right {
  opacity: 1;
  filter: contrast(120%) grayscale(75%); }

.carousel-wrapper {
  width: 100%;
  border: solid #bfb050 4px;
  box-shadow: 0 0 0 10px rgba(84, 76, 31, 0.5), 0 0 0 7px #544c1f;
  margin-left: auto;
  margin-right: auto; }

.carousel-caption {
  color: #bfb050;
  text-shadow: 0 0 1px black;
  font-family: "Friz Quadrata Medium";
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 0;
  border-radius: 5px; }

.carousel-indicators li {
  border-color: #bfb050; }
.carousel-indicators .active {
  background-color: #bfb050; }

.carousel-control {
  color: #bfb050; }

.button, .button-gold {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: black;
  font-family: "Friz Quadrata Medium"; }
  .button:hover, .button-gold:hover {
    filter: contrast(125%); }

.button-gold {
  background: linear-gradient(#bfb050, #1b180a); }

header {
  background-color: black;
  padding-bottom: 50px;
  width: 100%;
  margin-bottom: 30px; }
  header h1 {
    display: inline-block;
    font-family: "Friz Quadrata Medium";
    font-size: 5em;
    color: transparent;
    background: linear-gradient(#bfb050, #1b180a);
    background-clip: text;
    -webkit-text-stroke: 2px #4893e2;
    margin-top: 30px;
    border-bottom: solid 1px #bfb050;
    filter: contrast(120%); }

.champion-cell {
  border: solid white 2px;
  position: relative;
  padding: 0; }
  .champion-cell:hover {
    transform: scale(1.2);
    border: solid 2px #bfb050;
    z-index: 10;
    cursor: pointer; }

.infos-wrapper {
  position: relative;
  overflow: hidden; }

.champion-name {
  font-family: "Friz Quadrata Medium";
  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0.5);
  color: #bfb050;
  padding: 3px;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: -50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 2;
  transition: all 0.5s; }

.champion-cell:hover .champion-name {
  opacity: 1;
  left: 50%;
  animation-name: champName-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite; }

.champion-cell:hover .champion-icon, .champion-cell:hover .champion-icon-round, .champion-cell:hover .champion-icon-right {
  opacity: 1;
  filter: contrast(120%) grayscale(75%); }

@keyframes champName-anim {
  from, to {
    text-shadow: none; }
  50% {
    text-shadow: 0 0 3px #bfb050; } }
.champion-cell.ng-move, .champion-cell.ng-enter, .champion-cell.ng-leave {
  transition: all linear 0.3s; }

.champion-cell.ng-leave.ng-leave-active, .champion-cell.ng-move, .champion-cell.ng-enter {
  opacity: 0;
  transform: translateX(-200%); }

.champion-cell.ng-leave, .champion-cell.ng-move.ng-move-active, .champion-cell.ng-enter.ng-enter-active {
  opacity: 1;
  transform: none; }

.champion-title {
  overflow: hidden;
  position: relative;
  height: 150px;
  border: solid #bfb050 1px;
  box-shadow: 0 0 0 2px rgba(191, 176, 80, 0.5);
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0; }
  .champion-title .champion-title-bg {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 150px;
    width: 100%;
    z-index: 1;
    mask-image: linear-gradient(to right, transparent 40%, black);
    filter: blur(1px) contrast(150%); }
  .champion-title h2, .champion-title h3 {
    padding-left: 10%;
    font-family: "Friz Quadrata Medium";
    text-shadow: 2px 2px 0 rgba(84, 76, 31, 0.5); }
  .champion-title h2 {
    background: url("../assets/img/bg-cracks.jpg"), #bfb050;
    background-blend-mode: multiply;
    background-clip: text;
    color: transparent;
    font-size: 5em;
    margin-bottom: 0;
    border-bottom: 2px solid rgba(191, 176, 80, 0.5); }
  .champion-title h3 {
    color: #bfb050;
    margin-top: 0;
    size: 0.7em; }

.lore {
  color: #bfb050;
  font-family: "Friz Quadrata Medium"; }

.spells-section {
  background: url("../assets/img/bg-cracks-low-contrast.jpg"), rgba(191, 176, 80, 0.5);
  background-size: cover;
  background-blend-mode: multiply;
  border: 3px solid #bfb050;
  box-shadow: 0 0 0 5px #544c1f; }
  .spells-section h3 {
    font-family: "Friz Quadrata Medium";
    margin-bottom: 10px; }

.spells-wrapper {
  text-align: center; }

.spell {
  font-family: "Friz Quadrata Medium";
  font-size: 1em;
  margin-bottom: 10px;
  padding: 10px 10px;
  display: inline-block; }

.spell-icon {
  background-color: rgba(191, 176, 80, 0.5);
  display: inline-block;
  border: solid 2px rgba(191, 176, 80, 0.5);
  box-shadow: 0 0 0 3px rgba(84, 76, 31, 0.5);
  padding: 5px; }
  .spell-icon img {
    width: 100%; }
  .spell-icon:hover {
    filter: contrast(110%) brightness(120%); }

.spell-text {
  color: #bfb050;
  transition: all 0.5s;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 5px 10px;
  font-family: "Lato", sans-serif;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.8); }

@font-face {
  font-family: "Friz Quadrata Medium";
  src: url("fonts/Friz-Quadrata-Std-Medium.otf"); }
* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  background: url("../assets/img/background.jpg");
  background-size: cover;
  background-attachment: fixed; }

.centered {
  margin-left: auto;
  margin-right: auto; }

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important; }

.content {
  margin: 30px auto;
  background-color: rgba(0, 0, 0, 0.9);
  position: relative;
  margin-bottom: 80px;
  padding-bottom: 20px;
  border: solid 3px #bfb050;
  box-shadow: 0 0 0 7px #544c1f, 0 0 0 10px rgba(84, 76, 31, 0.5); }
  .content .row {
    padding: 25px; }

/*# sourceMappingURL=main.css.map */
