.content

.champion-title
  overflow: hidden
  position: relative
  height: 150px

  h2, h3
    font-family: $font1
    position: relative
    z-index: 2

  h2
    color: $color1
    font-size: 4em
    margin-bottom: 0


  h3
    color: $white
    margin-top: 0
    size: 0.8em

.lore
  color: $color1
  font-family: $font1

.champion-title-bg
  position: absolute
  top: -30%
  left: 0
  width: 100%
  z-index: 1
  opacity: 0.3
